<!DOCTYPE html>

<html lang="en">

<head>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Weather Dashboard</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

  <div class="dashboard">

    <div class="topbar">
      <div class="brand">☁ Weather Dashboard <span class="unit">°C</span></div>
    </div>

    <div class="search">
      <form method="POST" class="search-box">
          <span>🔍</span>
          <input type="text" placeholder="Enter city..." name="city" required>
          <button type="submit">Search</button>
      </form>
    </div>

    {% if error %}
      <div class="toast" id="error-toast">
        ⚠️ {{ error }}
      </div>
    {% endif %}

    {% if weather %}
      <div class="main">
        <div class="city">{{ weather.city }}, {{ weather.country }}</div>
        <div class="date">{{ weather.day }}, {{ weather.month }} {{ weather.day_number }}</div>
        <div class="icon">{{ weather.icon }}</div>
        <div class="temp">{{ weather.temperature }}°C</div>
        <div class="desc">{{ weather.condition }}</div>
      </div>

      <div class="stats">
        <div>💧 <span>Humidity: {{ weather.humidity }}%</span></div>
        <div>💨 <span>Wind: {{ weather.wind }} km/h</span></div>
      </div>

      <hr>

      <div class="forecast-title">Forecast</div>
      <div class="forecast">
        {% for day in forecast %}

        <div class="day">
          <div class="name">{{ day.day }}</div>
          <div class="icon">{{ day.icon }}</div>
          <div class="temp_max">{{ day.max_temperature }}°</div>
          <div class="temp_min">{{ day.min_temperature }}°</div>
        </div>

        {% endfor %}
      </div>
    {% endif %}

  </div>
  
  <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
